// 全局变量参数

@g-color: #000;
@g-backgroundColor: #fff;
@g-fontSize: 14px;
@g-baseUrl: '..';   // 全局地址前缀
@g-localUrl: '..';  // 本地地址前缀，用于less的image-width等

// 场景色

@g-color-primary: #1f2d3d;
// @g-color-primary: #409EFF;
@g-color-success: #67C23A;
@g-color-warning: #E6A23C;
@g-color-danger: #F56C6C;
@g-color-info: #909399;

// 字体色
@g-color-background1: #303133;
@g-color-background2: #606266;
@g-color-background3: #909399;
@g-color-background4: #C0C4CC;

// 边框色
@g-color-border1: #DCDFE6;
@g-color-border2: #E4E7ED;
@g-color-border3: #EBEEF5;
@g-color-border4: #F2F6FC;

// 滚动条
@card-split-line-color: red;

// table
@table-cell-bgcolor: rgb(60, 112, 165);
@table-thead-background: rgb(60, 112, 165);
@table-cell-bgcolor: rgb(60, 112, 165);
@table-cell-color: #ccc;
@background-forms: yellow;
@table-in-border: rgb(60, 112, 165);
@table-highlight-color: black;
@font-input-header: #fff;
@font-sub: 14px;
